body {
  color: #222222;
  background-color: #fafafa;
  font-family: "Helvetica"; }

a.dropselect-button {
  background-color: #3a4458;
  display: block;
  width: 120px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  text-decoration: none;
  height: 32px;
  line-height: 32px; }

.dropselect-menu {
  background-color: #cadadf;
  margin: 0px;
  padding: 0px;
  width: 120px;
  list-style-type: none; }
  .dropselect-menu li {
    padding: 0px;
    width: 120px; }
  .dropselect-menu a {
    display: block;
    color: #222222;
    padding-left: 5px;
    text-decoration: none;
    height: 32px;
    line-height: 32px; }
    .dropselect-menu a:hover {
      background-color: #3a4458;
      color: white; }
