!!! 5
%html
  %head
    %title dropselect demo
    %link{ :rel => 'stylesheet', :href => './demo.css' }
    %script{ :src => '../old/jquery-1.3.2.js' }
    %script{ :src => '../old/jquery.dropSelect-0.0.1.js' }

  %body
    %h1 dropselect demo
    %h2 Not hiding select element
    %select{ :id => 'demo1' }
      %option an option
      %option another option
      %option your last option

    %h2 Hiding select element
    %select{ :id => 'demo2' }
      %option an option
      %option another option
      %option your last option
  
    :javascript
      $(document).ready(function() {
          $('#demo1').dropSelect();
      });
